*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}
header{
    /* background-color: #c0a969; */
    
    text-align: center;
}

.center{
    display: flex;
    max-width: 1356px;
    
    
}
.banner {
    position: relative;
    height: 300px; /* Ajuste a altura conforme necessário */
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 139%;
    object-fit: cover; /*Faz a imagem cobrir o banner IMPORTANTE */ 
    position: absolute; /* Permite que o texto seja posicionado em cima da imagem */
    top: 0;
    left: 0;
}

.banner h1 {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o texto */
    color: white; /* Cor do texto */
    font-size: 2.5em; /* Tamanho do texto */
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); Sombra para melhor legibilidade */
    margin: 0;
    text-align: center; /* Centraliza o texto */
    z-index: 1; /* Garante que o texto fique acima da imagem */
}


.logo{
   
    width: 50%;
    margin-top: -30px;
   
}
.logo img{
    
    height: 145px;
}

.menu{
    padding-top: 38px;
    width: 50%;
    text-align: right;
}
.menu a{
    color: #7e4401;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}
.sobre .site{
    margin: 0 auto;
}
.site{
    width: 100%;
    max-width: 1200px;
}
.sobre .textoSobre{
    
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.sobre .textoSobre h3 {
    font-size: 20pt;
    color: #c85f5b;
    font-weight: bold;
}
.sobre .textoSobre h2 {
    font-size: 40pt;
    color: #bc101bd1;
    font-weight: bold;
}
.sobre .textoSobre>div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .extras { 
    position: absolute;
    bottom: -450;
    right: -500;
    width: 996px;
    height: 1012px;
    background-color: #bc101b;
    border-radius: 50%;
}*/
.servico .site{
    margin: 0 auto;
}

.servico .conteudoServico{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.servico .conteudoServico>div {
    width: 270px;
    height: 540px;
    position: relative;
}

.servico .conteudoServico>div img {
     width: 359px;
     height: 493px;
    
    }
.servico .conteudoServico h4 {
    font-size: 10pt;
    color: #ffffff;
    text-align: justify;
}
.servico button {
    width: 170px;
    height: 75px;
    background: #a8882f;
    color: #ffffff;
    font-size: 20pt;
    font-family:'Open Sans', sans-serif;
    border-radius: 0 10px 0 10px;
    cursor: pointer;
}
.img {
    margin: 150px; /* Margem ao redor de cada div */
    display: flex; /* Para que as divs fiquem lado a lado */
    justify-content: space-between;
}


